/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-background: #2c3e50;

  /* Font size */
  --font-large: 48px;
  --font-semi-large: 36px;
  --font-medium: 30px;
  --font-regular: 25px;
  --font-small: 20px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;

  /* Animation */
  --animation-fadeIn: fadeIn 0.5s linear;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-semi-large);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0px;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  color: var(--color-white);
  background-color: var(--color-background);
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  color: var(--color-white);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
}

input {
  cursor: text;
  padding: 0;
  outline: 0;
  border: none;
  border-bottom: 3px solid var(--color-white);
  text-align: center;
  font-size: var(--font-semi-large);
  color: var(--color-white);
  caret-color: var(--color-white);
  background-color: transparent;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.active {
  display: flex;
  animation: var(--animation-fadeIn);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Main section */
#main {
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: var(--animation-fadeIn);
}

/* Real time clock */
.title {
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  padding-left: 12px;
  font-size: 120px;
  letter-spacing: 5px;
}

/* Greeting */

.greetAlert {
  height: 30px;
}

.greetings {
  letter-spacing: 3px;
  font-size: 70px;
}

/* To-do section */
.toDoSection {
  width: 40%;
  position: relative;
}

.toDoList {
  padding-left: 0;
  width: 100%;
  position: absolute;
}

.toDo {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.toDo > button {
  flex-basis: 35%;
  text-align: right;
  font-size: var(--font-regular);
}

.toDo > span {
  flex-basis: 65%;
  font-size: var(--font-medium);
  line-height: 35px;
}

/* Reset */
.reset {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: var(--font-regular);
}

/* Weather */
.weather {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: var(--font-regular);
}
