/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-background: #2c3e50;

  /* Font size */
  --font-large: 120px;
  --font-semi-large: 80px;
  --font-medium: 60px;
  --font-regular: 30px;
  --font-small: 20px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;

  /* Animation */
  --animation-fadeIn: fadeIn 0.5s linear;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-semi-large);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0px;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  color: var(--color-white);
  background-color: var(--color-background);
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  color: var(--color-white);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
}

input {
  width: 25vw;
  cursor: text;
  padding: 0;
  margin: 16px 0;
  outline: 0;
  border: none;
  border-bottom: 3px solid var(--color-white);
  text-align: center;
  font-size: var(--font-regular);
  color: var(--color-white);
  caret-color: var(--color-white);
  background-color: transparent;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.active {
  display: flex;
  animation: var(--animation-fadeIn);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Main section */
#main {
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: var(--animation-fadeIn);
}

/* Real time clock */

.title {
  padding-left: 12px;
  font-size: var(--font-large);
  letter-spacing: 5px;
}

/* Greeting */

.question {
  line-height: 112px;
  margin: 0;
}

.greetAlert {
  height: 30px;
}

.greetings {
  letter-spacing: 3px;
  font-size: var(--font-semi-large);
}

/* To-do section */
.toDoSection {
  width: 40%;
  position: relative;
}

.toDoForm > p {
  font-size: var(--font-small);
}

.toDoList {
  padding-left: 0;
  margin: 0;
  width: 100%;
  position: absolute;
}

.toDo {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.toDo > button {
  flex-basis: 35%;
  text-align: right;
  font-size: var(--font-small);
}

.toDo > span {
  padding-left: 10px;
  flex-basis: 65%;
  font-size: var(--font-regular);
  line-height: 35px;
}

.toDoComment {
  height: 101px;
}

/* Reset */
.reset {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: var(--font-small);
}

/* Weather */
.weather {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: var(--font-small);
}

/* Responsive */
@media only screen and (max-width: 1024px) {
  :root {
    --font-large: 100px;
    --font-semi-large: 50px;
    --font-medium: 40px;
    --font-regular: 25px;
    --font-small: 20px;
  }
  .title {
    margin: 0;
  }

  .question {
    line-height: 76px;
  }

  .toDoForm > input {
    margin: 0;
  }

  .toDoForm > p {
    margin: 22px;
  }

  .toDoList,
  .toDo {
    margin: 0;
  }

  .toDoComment {
    height: 100px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --font-medium: 5vw;
  }

  input {
    width: 35vw;
  }

  .question {
    height: 74px;
  }

  .toDoForm > p {
    margin: 20px;
  }

  .toDoComment {
    height: 94px;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --font-large: 80px;
    --font-semi-large: 20px;
    --font-regular: 20px;
    --font-small: 15px;
  }

  #main {
    padding-top: 100px;
    justify-content: flex-start;
  }

  .question {
    height: 40px;
  }

  .toDoForm > input {
    margin-top: 15px;
  }

  .toDoForm > p {
    width: 150px;
    text-align: center;
    margin-top: 5px;
  }

  .toDoComment {
    height: 84px;
  }

  .toDoComment > p {
    font-size: var(--font-small);
    text-align: center;
    width: 200px;
  }

  .toDo {
    width: 200px;
  }

  .toDo > button {
    flex-basis: 10%;
  }

  .toDo > span {
    flex-basis: 90%;
  }

  .toDo > button,
  .toDo > span {
    line-height: 25px;
  }

  .reset,
  .weather {
    bottom: 93%;
  }
}
